PORT=3000
MONGODB_URL=mongodb://localhost:27017/trendythreads
REDIS_URL=redis://localhost:6379
FRONTEND_URL=http://localhost:3001
JWT_SECRET=replace-with-your-own-secret
APIKEY=your_razorpay_key
APISECRET=your_razorpay_secret
